/****************************Tag selectors*************************************/
body {
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  color: white;
  margin-top: 2%;
  margin-left: 22%;
  position: absolute;
}

th {
  font-size: 30px;
}

tr, td, th {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: white;
  border: 5px solid white;
  font-size: 22px;
  padding: 3%;
}

/****************************Class selectors***********************************/
.introduction-container {
  background-image: url('../images/top-container-image.jpg');
  background-size: cover;
  position: relative;
  height: 730px;
}

.profile-picture {
  height: 38%;
  margin-left: 40%;
  margin-top: 15%;
  float: left;
  position: absolute;
}

.intro-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 52px;
  color: white;
  margin-top: 38%;
  margin-left: 27%;
  position: absolute;
}

.about-me-container {
  height: 270px;
  position: relative;
}

.about-me-left-container {
  width: 28.5%;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  background-color: #ace0f5;
  position: absolute;
  display: inline-block;
  line-height: 120px;
}

.about-me-title {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  color: #4292d8;
  margin-top: 2%;
  position: absolute;
}

.about-me-description {
  font-family: 'Mitr', sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  width: 50%;
  font-size: 24px;
  margin-left: 41%;
  margin-top: 3.5%;
}

.pun-word {
  font-family: 'Gochi Hand', cursive;
}

.about-me-right-container {
  width: 68%;
  height: 100%;
  position: absolute;
  background-color: #154397;
  margin-left: 32%;
}

.work-history-container {
  height: 650px;
  position: relative;
  background-image: url('../images/top-container-image.jpg');
}

.work-history-sub-container {
  background-color: #4292d8;
  position: absolute;
  height: 70%;
  width: 60%;
  text-align: center;
  margin-left: 20.5%;
  margin-top: 6.5%;
}

.work-history-title {
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  color: white;
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
  line-height: 60px;
}

.work-history-table {
  border: 1px solid black;
  border-collapse: collapse;
  position: absolute;
  width: 82%;
  height: 30%;
  margin-left: 9.5%;
  margin-top: 18%;
}

.education-and-skills-container {
  background-image: url('../images/top-container-image.jpg');
  background-position: bottom;
  position: relative;
  height: 650px;
}

.my-education-container {
  display: inline-block;
  background-color: #154397;
  position: absolute;
  height: 90%;
  width: 48%;
}

.my-education-title {
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  color: white;
  position: absolute;
  margin-top: 0;
  margin-left: 10%;
  display: inline-block;
}

.my-skills-container {
  display: inline-block;
  background-color: #154397;
  position: absolute;
  height: 90%;
  width: 49%;
  margin-left: 51%;
}

.my-skills-title {
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  color: white;
  position: absolute;
  margin-top: 0;
  margin-left: 17%;
  display: inline-block;
}
