/****************************Tag selectors*************************************/
body {
  margin: 0;
  height: 1200px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  color: white;
  margin-top: 2%;
  margin-left: 22%;
  position: absolute;
}

/****************************Class selectors***********************************/
.top-container {
  background-image: url('../images/top-container-image.jpg');
  background-size: cover;
  position: relative;
  height: 63%;
}

.profile-picture {
  height: 38%;
  margin-left: 40%;
  margin-top: 15%;
  float: left;
  position: absolute;
}

.intro-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  color: white;
  margin-top: 38%;
  margin-left: 28%;
  position: absolute;
}

.middle-container {
  height: 500px;
}

.bottom-container {
  height: 500px;
}

.mongo-db-logo {
  height: 120px;
  position: absolute;
  left: 115px;
  top: 370px;
}

.express-js-logo {
  height: 70px;
  position: absolute;
  left: 285px;
  top: 390px;
}

.react-logo {
  height: 100px;
  position: absolute;
  right: 345px;
  top: 390px;
}

.node-js-logo {
  height: 130px;
  position: absolute;
  top: 380px;
  right: 125px;
}
